openapi: 3.0.3
info:
  title: Tiger Cloud Analytics API
  description: 'A RESTful API for Tiger Cloud platform.

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.tigerdata.com/legal/terms
  contact:
    name: Tiger Data Support
    url: https://www.tigerdata.com/contact
servers:
- url: https://console.cloud.tigerdata.com/public/api/v1
  description: API server for Tiger Cloud
tags:
- name: Analytics
  description: Track analytics events.
paths:
  /analytics/identify:
    post:
      operationId: identifyUser
      tags:
      - Analytics
      summary: Identify a user
      description: Identifies a user with optional properties for analytics tracking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  additionalProperties: true
                  description: Optional map of arbitrary properties associated with the user
                  example:
                    email: user@example.com
                    name: John Doe
      responses:
        '200':
          $ref: '#/components/responses/AnalyticsResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
  /analytics/track:
    post:
      operationId: trackEvent
      tags:
      - Analytics
      summary: Track an analytics event
      description: Tracks an analytics event with optional properties.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event
              properties:
                event:
                  type: string
                  description: The name of the event to track
                  example: service_created
                properties:
                  type: object
                  additionalProperties: true
                  description: Optional map of arbitrary properties associated with the event
                  example:
                    region: us-east-1
      responses:
        '200':
          $ref: '#/components/responses/AnalyticsResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  responses:
    ClientError:
      description: Client error response (4xx status codes).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    AnalyticsResponse:
      description: Analytics action completed successfully.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                description: Status of the analytics operation
                example: success
