openapi: 3.0.3
info:
  title: Tiger Cloud Analytics Auth API
  description: 'A RESTful API for Tiger Cloud platform.

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.tigerdata.com/legal/terms
  contact:
    name: Tiger Data Support
    url: https://www.tigerdata.com/contact
servers:
- url: https://console.cloud.tigerdata.com/public/api/v1
  description: API server for Tiger Cloud
tags:
- name: Auth
  description: Authentication and authorization information.
paths:
  /auth/info:
    get:
      operationId: getAuthInfo
      tags:
      - Auth
      summary: Get Authentication Info
      description: Returns information about the authentication credentials being used to access the API
      responses:
        '200':
          description: Authentication information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInfo'
        4XX:
          $ref: '#/components/responses/ClientError'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    AuthInfo:
      type: object
      required:
      - type
      - apiKey
      properties:
        type:
          type: string
          description: The type of authentication being used
          enum:
          - apiKey
          example: apiKey
        apiKey:
          type: object
          description: Information about the API key credentials
          required:
          - public_key
          - name
          - created
          - project
          - issuing_user
          properties:
            public_key:
              type: string
              description: The public key of the client credentials
              example: tskey_abc123
            name:
              type: string
              description: The name of the credential
              example: my-production-token
            created:
              type: string
              format: date-time
              description: When the client credentials were created
              example: '2024-01-15T10:30:00Z'
            project:
              type: object
              description: Information about the project
              required:
              - id
              - name
              - plan_type
              properties:
                id:
                  type: string
                  description: The project ID
                  example: rp1pz7uyae
                name:
                  type: string
                  description: The name of the project
                  example: My Production Project
                plan_type:
                  type: string
                  description: The plan type for the project
                  example: FREE
            issuing_user:
              type: object
              description: Information about the user who created the credentials
              required:
              - id
              - name
              - email
              properties:
                id:
                  type: string
                  description: The user ID
                  example: user123
                name:
                  type: string
                  description: The user's name
                  example: John Doe
                email:
                  type: string
                  format: email
                  description: The user's email
                  example: john.doe@example.com
  responses:
    ClientError:
      description: Client error response (4xx status codes).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
